<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
		point="org.eclipse.lsp4e.languageServer">
		<server
			id="com.genuitec.copilot4eclipse.copilot"
			label="Copilot4Eclipse Language Server"
			class="com.genuitec.copilot4eclipse.lsp.CopilotProcessStreamConnectionProvider"
			clientImpl="com.genuitec.copilot4eclipse.chat.lsp.ChatLanguageClientImpl"
			serverInterface="com.genuitec.copilot4eclipse.chat.lsp.IChatLanguageServer"
			singleton="true"
			lastDocumentDisconnectedTimeout="30">
		</server>
		<contentTypeMapping
		    id="com.genuitec.copilot4eclipse.copilot"
            languageId="dummyDoNotUse"
            contentType="org.genuitec.copilot4eclipse.dummy">
        </contentTypeMapping>
	</extension>

	<extension
         point="org.eclipse.ui.views">
      <category
            name="Copilot4Eclipse"
            id="com.genuitec.copilot4eclipse.chat">
      </category>
      <view
            id="com.genuitec.copilot4eclipse.chat.ui.AIChatView2"
            name="Copilot4Eclipse Chat"
            icon="icons/chat.png"
            class="com.genuitec.copilot4eclipse.chat.ui.AIChatView2"
            category="com.genuitec.copilot4eclipse.chat"
            inject="true">
      </view>
   </extension>
   
   <extension 
   		point="org.eclipse.ui.perspectiveExtensions">
	  <perspectiveExtension 
	  		targetID="*">  
	    <view
	        id="com.genuitec.copilot4eclipse.chat.ui.AIChatView2"
	        relative="org.eclipse.ui.editorss" 
	        relationship="right"
	        ratio="0.25"
	        visible="false"
	        position="stack"
	        >
	    </view>
	  </perspectiveExtension>
	</extension>

	<extension
		point="org.eclipse.ui.commands">
		
		<command
			categoryId="com.genuitec.copilot4eclipse.commands.category"
			name="Open Chat Panel"
			id="com.genuitec.copilot4eclipse.commands.openChatView2Command">
		</command>
		<command
		    categoryId="com.genuitec.copilot4eclipse.commands.category"
			name="Create Conversation"
			id="com.genuitec.copilot4eclipse.commands.newConversationCommand">
		</command>
		<command
		    categoryId="com.genuitec.copilot4eclipse.commands.category"
			name="Clear Conversation"
			id="com.genuitec.copilot4eclipse.commands.clearConversationCommand">
		</command>
		<command
			categoryId="com.genuitec.copilot4eclipse.commands.category"
			name="Delete Conversation"
			id="com.genuitec.copilot4eclipse.commands.deleteConversationCommand">
		</command>
		<command
		    categoryId="com.genuitec.copilot4eclipse.commands.category"
			name="Rename Conversation"
			id="com.genuitec.copilot4eclipse.commands.renameConversationCommand">
		</command>
		<command
		    categoryId="com.genuitec.copilot4eclipse.commands.category"
			name="Reference File(s) in Chat Panel"
			id="com.genuitec.copilot4eclipse.commands.addConversationResourceRefCommand">
		</command>
		
		<command
			name="Generate Commit Message"
			id="com.genuitec.copilot4eclipse.commands.generateCommitMsgCommand">
		</command>
		<command
			name="Clear Commit Message"
			id="com.genuitec.copilot4eclipse.commands.clearCommitMsgCommand">
		</command>
	</extension>
	
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.genuitec.copilot4eclipse.chat.handlers.OpenBrowserViewHandler"
			commandId="com.genuitec.copilot4eclipse.commands.openBrowserViewCommand">
		</handler>
		<handler
			class="com.genuitec.copilot4eclipse.chat.handlers.OpenChatView2Handler"
			commandId="com.genuitec.copilot4eclipse.commands.openChatView2Command">
		</handler>
		<handler
			class="com.genuitec.copilot4eclipse.chat.handlers.GetConversationTemplatesHandler"
			commandId="com.genuitec.copilot4eclipse.commands.getConversationTemplatesCommand">
		</handler>
		<handler
			class="com.genuitec.copilot4eclipse.chat.handlers.NewConversationHandler"
			commandId="com.genuitec.copilot4eclipse.commands.newConversationCommand">
		</handler>
		<handler
			class="com.genuitec.copilot4eclipse.chat.handlers.ClearConversationHandler"
			commandId="com.genuitec.copilot4eclipse.commands.clearConversationCommand">
		</handler>
		<handler
			class="com.genuitec.copilot4eclipse.chat.handlers.RenameConversationHandler"
			commandId="com.genuitec.copilot4eclipse.commands.renameConversationCommand">
		</handler>
		<handler
			class="com.genuitec.copilot4eclipse.chat.handlers.DeleteConversationHandler"
			commandId="com.genuitec.copilot4eclipse.commands.deleteConversationCommand">
		</handler>
		<handler
			class="com.genuitec.copilot4eclipse.chat.handlers.AddConversationResourceRefHandler"
			commandId="com.genuitec.copilot4eclipse.commands.addConversationResourceRefCommand">
		</handler>
		
		<handler
			class="com.genuitec.copilot4eclipse.chat.commit.GenerateCommitMsgHandler"
			commandId="com.genuitec.copilot4eclipse.commands.generateCommitMsgCommand">
		</handler>
		<handler
			class="com.genuitec.copilot4eclipse.chat.commit.ClearCommitMsgHandler"
			commandId="com.genuitec.copilot4eclipse.commands.clearCommitMsgCommand">
		</handler>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<!--<menuContribution
			locationURI="menu:org.eclipse.ui.main.menu?after=additions">-->
		<menuContribution
			locationURI="menu:com.genuitec.copilot4eclipse.menus.copilotMenu?before=enablement">
			<separator
                name="separator10"
                visible="true"/>
			<command
                commandId="com.genuitec.copilot4eclipse.commands.openChatView2Command"
                id="com.genuitec.copilot4eclipse.menus.openChatView2Command"
                icon="icons/chat.png">
               	<visibleWhen>
             		<test
             			property="com.genuitec.copilot4eclipse.chat.ui.enableChatPanelContextProperty" 
             			value="true"/>
             	</visibleWhen>
            </command>
		</menuContribution>
		
        <menuContribution
			locationURI="popup:org.eclipse.ui.popup.any">
		<!--<menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=group.find">
			<separator
                name="separator1230"
                visible="true"/>-->
            
            <dynamic
	        	class="com.genuitec.copilot4eclipse.chat.ui.ChatPopupMenuContribution"
	           	id="com.genuitec.copilot4eclipse.chat.ui.chatPopupMenuContribution">
	           	<visibleWhen>
	           		<with variable="activePart">
                    	<instanceof value="org.eclipse.ui.IEditorPart"/>
                	</with>
            	</visibleWhen>
			</dynamic>
	    </menuContribution>
	    
	    <menuContribution
			locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
			<menu label="Copilot4Eclipse">
				<command
	            	commandId="com.genuitec.copilot4eclipse.commands.addConversationResourceRefCommand"
	                id="com.genuitec.copilot4eclipse.menus.addConversationResourceRefCommand">
	            </command>
	            <visibleWhen checkEnabled="false">
					<and>
						<test
	             			property="com.genuitec.copilot4eclipse.chat.ui.enableChatPanelContextProperty" 
	             			value="true"/>
             			
						<!-- Check for ICompilationUnit but not a .class file -->
	                    <with variable="selection">
	                        <iterate ifEmpty="false" operator="or">
	                        	<or>
	                        		<and>
	                        			<adapt type="org.eclipse.core.resources.IFile"/>
										<!-- Exclude .class files by negating the content type check for .class files -->
		                        		<not>
				                            <test property="org.eclipse.core.resources.extension" value="class"/>
				                        </not>
				                    </and>
	                        		<and>
		                        		<instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
										<!--<test 
		                                	property="org.eclipse.core.resources.contentTypeId" 
		                                	value="org.eclipse.jdt.core.javaSource"/>-->
		                            </and>
	                            </or>
	                        </iterate>
	                    </with>
	                 </and>
                </visibleWhen>
	        </menu>
	    </menuContribution>
	    
	    <menuContribution
			locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
			<menu label="Copilot4Eclipse">
				<command
	            	commandId="com.genuitec.copilot4eclipse.commands.addConversationResourceRefCommand"
	                id="com.genuitec.copilot4eclipse.menus.addConversationResourceRefCommand">
	            </command>
	             <visibleWhen checkEnabled="false">
	            	<and>
						<test
	             			property="com.genuitec.copilot4eclipse.chat.ui.enableChatPanelContextProperty" 
	             			value="true"/>
	                    <!-- Check for ICompilationUnit but not a .class file -->
	                    <with variable="selection">
	                        <iterate ifEmpty="false" operator="or">
	                        	<or>
	                        		<and>
	                        			<adapt type="org.eclipse.core.resources.IFile"/>
	                        			<!-- Exclude .class files by negating the content type check for .class files -->
		                        		<not>
				                            <test property="org.eclipse.core.resources.extension" value="class"/>
				                        </not>
				                    </and>
	                        		<and>
		                        		<instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
			                            <!--<test 
		                                	property="org.eclipse.core.resources.contentTypeId" 
		                                	value="org.eclipse.jdt.core.javaSource"/>-->
		                            </and>
	                            </or>
	                        </iterate>
	                    </with>
	                </and>
                </visibleWhen>
	        </menu>
	    </menuContribution>
	    
	    <menuContribution
        	locationURI="view:org.eclipse.egit.ui.StagingView">
        	<separator
                name="separatorX1"
                visible="true"/>
        	<command
	            commandId="com.genuitec.copilot4eclipse.commands.generateCommitMsgCommand"
	             id="com.genuitec.copilot4eclipse.menus.generateCommitMsgCommand"
	            label="Generate Commit Message with Copilot"
            	style="push"
            	icon="icons/RobotFacePurple.png">
        	</command>
        	<separator
                name="separatorX2"
                visible="true"/>
    	</menuContribution>
    </extension>
    
    <extension point="org.eclipse.core.expressions.propertyTesters">
	    <propertyTester
			id="com.genuitec.copilot4eclipse.ui.enableChatPanelContextTester"
	    	class="com.genuitec.copilot4eclipse.chat.ui.EnableChatPanelContextTester"        
	        namespace="com.genuitec.copilot4eclipse.chat.ui"
	        properties="enableChatPanelContextProperty"
	        type="java.lang.Object">
	    </propertyTester>
	</extension>
	
	<!--
	<extension
        point="org.eclipse.ui.bindings">
        <key
            commandId="com.genuitec.copilot4eclipse.commands.addConversationResourceRefCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+R">
         </key>
         <key
            commandId="com.genuitec.copilot4eclipse.commands.addConversationResourceRefCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+R">
         </key>
    </extension>
    -->
    
</plugin>
